<%= turbo_frame_tag dom_id(comment) do %>
  <div class="d-flex justify-content-between ">
    <div class="comment-details d-flex">
      <% if comment.user.image.attached? %>
        <div class="flex-shrink-0"><%= image_tag(comment.user.image, class: 'rounded-circle', width: '50')%></div>
      <% else %>
        <div class="flex-shrink-0">  <%= image_tag(comment.user.image.attached? ? comment.user.image : 'https://avatars.githubusercontent.com/u/116902652?v=', width: "32px", class: 'rounded-circle')%></div>
      <% end %>
      <div class="ms-3">
        <div class="fw-bold"><%= comment.user.email %> <small class="text-muted mx-1  "> <%= time_ago_in_words(comment.created_at) + ' ago'%></small></div>
        <%= comment.title %>
      </div>
    </div>
    <div class="comment-action">
      <%= button_to 'Delete', [comment.post, comment], class: 'btn btn-danger btn-sm mx-3 ',method: :delete, data: {'turbo-method': :delete} if comment.user_id == current_user.id%>
    </div>
  </div>
  <hr>
<% end %>
