<div class="container">
  <hr>
  <div class="d-flex gap-5 align-items-center justify-content-between ">
    <div class="post_actions">
      <div class="d-flex gap-5 align-items-center">
        <div class="likes">
          <% like = current_user.likes.find_by(post: post) %>
          <% if like.nil? %>
            <%= button_to likes_path, params: { like: { post_id: post.id } }, method: :post, class: 'btn' do %>
              <div class="d-flex align-items-center">
                <i class="bi bi-heart h3"></i>
                <span class="mx-2 h5 fw-light"><%= pluralize(post.likes.count, 'like') %></span>
              </div>
            <% end %>
          <% else %>
            <%= button_to like_path(like), method: :delete, class: 'btn' do %>
              <div class="d-flex align-items-center">
                <i class="bi bi-heart-fill h3"></i>
                <span class="mx-2 h5 fw-light"><%= pluralize(post.likes.count, 'like') %></span>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="comment">
          <div class="d-flex align-items-center">
            <i class="bi bi-chat-right-text-fill h3"></i>
            <span class="mx-2 h5 fw-light"><%= pluralize(post.comments.count, 'Replies') %></span>
          </div>
        </div>
        <div class="bookmark" id="bookmark">
          <%= render 'posts/bookmark', post: post %>
        </div>
      </div>
    </div>
    <div class="avatars">
      <% if post.likes.present? %>
        <div class="user-avatars">
          <% post.likes.each do |like| %>
            <%= link_to image_tag(like.user.image.attached? ? like.user.image : 'https://avatars.githubusercontent.com/u/116902652?v=', size: '20x20', class: ' rounded-circle mx-1'), profile_path(like.user.id) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
</div>
