<div class="container">
  <%= form_with(model: @post) do |form| %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: 'form-control mt-2' %>
      <% if @post.errors.any? %>
        <% @post.errors.full_messages_for(:title).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= form.label :body, style: "display: block" %>
      <%= form.text_area :body, class: 'form-control mt-2', cols: 980,  rows: "15"%>
    </div>
    <div>
      <%= form.file_field :image, type: "file", class: "form-control mt-2", id: "customFile" %>
    </div>
    <div>
      <%= form.number_field :user_id, value: current_user.id, id: 'post_user_id',class: 'form-control mt-2',type: :hidden%>
    </div>
    <div>
      <%= form.submit class: 'btn btn-primary mt-2', data: { action: 'click->bootstrap#submitEnd'} %>
    </div>
  <% end %>
</div>
