<div class="container">
  <%= form_with(model: @post) do |form| %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: 'form-control mt-2' %>
      <% if @post.errors.any? %>
        <% @post.errors.full_messages_for(:title).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= form.label :body, style: "display: block" %>
      <%= form.text_area :body, class: 'form-control mt-2', cols: 4,  rows: "6"%>
    </div>
    <%  if @post.images.attached? %>
      <div id="<%= dom_id(@post, :cover_image) %>">
        <% @post.images.each do |image| %>
          <%= image_tag(image, width: '50px', height: '50px', class: ' mt-2 mb-2') %>
        <% end %>
        <%= link_to 'Remove Images', post_cover_image_path(@post), data: { turbo_method: :delete, turbo_confirm: 'You sure?' }, class: 'mx-2' %>
      </div>
    <% end %>
    <div>
      <%= form.file_field :images, type: "file", class: "form-control mt-2", id: "customFile", multiple: true, data: { controller: "handle-upload" } %>
    </div>
    <div>
      <%= form.number_field :user_id, value: current_user.id, id: 'post_user_id',class: 'form-control mt-2',type: :hidden%>
    </div>
    <div>
      <%= form.submit class: 'btn btn-primary mt-2', data: { action: 'click->bootstrap#submitEnd'} %>
    </div>
  <% end %>
</div>
