<%= turbo_frame_tag post do %>
  <div class="container mb-3">
    <div class="d-flex justify-content-between">
      <div class="d-flex text-align-center gap-2">
        <div class="user_post_image mt-2">
          <%= image_tag(post.user.image.attached? ? post.user.image : 'https://avatars.githubusercontent.com/u/116902652?v=', width: "32", height: '32', class: 'rounded-circle')%>
        </div>
        <div class="d-flex flex-column">
          <div class="user_email">
            <%= link_to post.user.email, profile_path(post.user), data: { turbo_frame: '_top'}, class: 'text-decoration-none text-dark'%>
          </div>
          <div class="post_time">
            <p><small class="text-muted"><%= time_ago_in_words(post.created_at)+ ' ago'%></small></p>
          </div>
        </div>
      </div>
      <% if current_user.id == post.user.id && params[:controller] == "posts" && params[:action] == "index"%>
        <div class="actions">
          <div class="dropdown">
            <button class="btn btn " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to 'Edit', edit_post_path(post), data: { controller: 'bs-modal'} , class: 'dropdown-item' %></li>
              <li><%= button_to 'Destroy', post_path(post), method: :delete, class: 'dropdown-link btn btn' %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <h5 class="p-1"><%= link_to post.title, post, data: { turbo_frame: '_top' }, class: 'text-decoration-none text-dark' %></h5>
    <p class="p-1"><%= link_to simple_format(post.body), post, data: { turbo_frame: '_top' }, class: 'text-decoration-none text-dark' if !post.images.attached? %></p>
    <% if post.images.attached?  %>
      <div class="post_images">
        <% post.images.each do |image| %>
          <div class="image_container">
            <%= link_to image_tag(image, class: 'post_image'), post_path(post), data: { turbo_frame: '_top' } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag('post', :post) do %>
    <%= render 'posts/action_buttons', post: post %>
  <% end %>
<% end %>
