<% content_for(:html_title) { 'Homepage' } %>
<div class="p-4">
  <div class="row">
    <div class="col-lg-9 ">
      <%= render 'posts/status_box' %>
      <hr>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <%= render 'posts/search'%>
      </form>
      <hr>
      <div class="text-center">
        <h3 class="text-muted fw-bold">Timeline </h3>
        <small class="text-center text-muted">Last Refreshed <%= Time.now.strftime('%I:%M:%S %p') %></small>
        <hr>
      </div>
      <div id="posts">
        <% @posts.each do |post| %>
          <%= render post %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 border">
      <%= render 'posts/user_details'%>
      <div class="container">
        <%= render 'posts/suggestions'%>
      </div>
      <br>
      <% if current_user.posts.count > 0 %>
        <%= turbo_frame_tag "notifications" do %>
          <%= render "notifications/notifications", user: current_user %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
