<% if current_user.follow_requests.present? %>
  <h3 class="text-center mt-5">Recent Activity</h3>
<% else %>
<% end %>
<% if current_user %>
  <hr>
  <% current_user.follow_requests.each do |request| %>
    <div class="d-flex justify-content-between">
      <div class="req_details">
        <b><%= request.followerable.email %></b> requested to follow you. 
        <small>
          <span class="badge rounded-pill text-bg-danger"><%= time_ago_in_words(request.created_at)%></span>
        </small>
      </div>
      <div class="req_actions">
        <%= button_to "Accept", accept_path(request.followerable), class:'btn btn-primary btn-sm' %>
        <%= button_to "Decline", decline_path(request.followerable), class:'btn btn-danger mt-1 btn-sm' %>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
<h2 class="text-center fw-bold mt-2">Notifications</h2>
<div class="p-5">
  <div class="row">
    <div class="col-lg-6 mt-5 p-2">
      <% if current_user %>
        <% current_user.follow_requests.each do |request| %>
          <div class="d-flex justify-content-between">
            <div class="req_details">
              <b><%= request.followerable.email %></b> requested to follow you. 
              <small>
                <span class="badge rounded-pill text-bg-danger"><%= time_ago_in_words(request.created_at) + ' ago'%></span>
              </small>
            </div>
            <div class="req_actions">
              <%= button_to "Accept", accept_path(request.followerable), class:'btn btn-primary btn-sm' %>
              <%= button_to "Decline", decline_path(request.followerable), class:'btn btn-danger mt-1 btn-sm' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-6 mt-5 p-2">
      <% if current_user.followers.count > 0%>
        <div class="user-post-image white">
          <h2 class="fw-bold">Recent Logs</h2>
          <% current_user.followers.each do |user| %>
            <div class="d-flex justify-content-between">
              <div><%= link_to user.email, profile_path(user.id) %> started following you....</div>
              <div class="btn">
                <%= button_to "Unfollow", unfollow_path(user), class:'btn btn-danger' %>
              </div>
            </div>
          <% end %>
        <% else %>
          <h2 class="fw-bold mt-5">No Recent followers.</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
